html {
  height: 100%;
  margin: 0;
}

body {
  backdrop-filter: blur(5px) brightness(65%);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-height: 100%;
}

.app-title {
  color: white;
  padding-top: 2em;
  text-align: center;
}

.search-bar {
  margin: auto;
  margin-top: 3.5em;
  width: 50%;
}

.search-bar-top {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  color: white;
  text-align: center;
}

.radio-text label {
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.trending-button {
  --bs-btn-hover-bg: #5A4181;
  --bs-btn-hover-border-color: #3D2C57;
}

.trending-popover {
  font-size: 12px;
  max-width: 20%;
}

.media-card-list {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
}

.media-entry-title {
  font-size: 18px;
}

.media-entry-buttons {
  display: flex;
  justify-content: space-between;
}

.media-entry-button {
  --bs-btn-bg: #3D2C57;
  --bs-btn-hover-bg: #5A4181;
  --bs-btn-hover-border-color: #3D2C57;
  font-size: 16px;
}

.media-entry-modal {
  width: 45%;
  max-width: 45%;
}

.media-entry-modal-outer-body {
  display: flex;
  flex-direction: column;
}

.media-entry-modal-inner-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.media-entry-modal-inner-body div {
  margin-bottom: 1rem;
}

.media-entry-modal-description {
  text-align: justify;
}

.media-entry-modal-order-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.media-entry-modal-order-input {
  width: 50%;
}

.media-entry-modal-item {
  width: fit-content;
}

.media-entry-modal-carousel-label {
  text-align: center;
}

.media-entry-modal-carousel-img {
  width: 65%;
  margin: auto;
  border-radius: 10px;
}

.media-entry-button-modal {
  --bs-btn-bg: #3D2C57;
  --bs-btn-hover-bg: #5A4181;
  --bs-btn-hover-border-color: #3D2C57;
  font-size: 16px;
  width: 100%;
}

/* PAGINATION */

.media-list-pagination {
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  overflow: hidden;
  position: fixed;
  text-align: center;
  width: fit-content;
}

.media-list-pagination ul {
  --bs-pagination-border-color: #212529;
  --bs-pagination-disabled-border-color: #212529;
  margin-bottom: 0;
}

.media-list-pagination ul li a:focus {
  outline: none !important;
  border: none;
  box-shadow: none;
}

.pagination>li>a, .disabled>.page-link {
  background-color: #212529;
  color: #99A1A9;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #A9B1B8;
  background-color: #2B3035;
  border-color: #212529;
}

.pagination>.active>a {
  color: white;
  background-color: #3D2C57 !Important;
  border: solid 1px #212529 !Important;
}

.pagination>.active>a:hover {
  color: white;
  background-color: #5A4181 !Important;
  border: solid 1px #424549;
}

/* END PAGINATION */